/*******************THE CSS RESET ***************************
*                                                           *
************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans", sans-serif;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*******************HEADER CSS* ***************************
*                                                           *
************************************************************/

.potato-head {
    background: #EF8683;
}

.potato-head__top {
    width: 100%;
}

.potato-head__top:after {
        content: "";
        display: table;
        clear: both;  
}

.potato-head__top--menu {
    float: left;
}

.potato-head__top--menu > li {
    display: inline-block;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
}

.potato-head__top--title {
    float: left;
    margin-left: 20rem;
}

.fa-bars {
    margin-left: 28rem;
}

