/*******************THE CSS RESET ***************************
*                                                           *
************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');




/* 1. Use a more-intuitive box-sizing model */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans", sans-serif;
    color: #811b06;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* Responsive styling for the header */
  
  /*******************TOP JUMBO ***************************
*                                                           *
************************************************************/



#potato-head {
  background: #EDA634;
  padding-bottom: 1rem;
}

header {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

header:after {
  content: "";
  display: table;
  clear: both;  
}

.potato-head__menu {
  float: left;
  margin-top: 1.5rem;
  margin-bottom: 5.5rem;
}

.potato-head__menu a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    text-decoration: none;
    color: #811b06;;
    margin-right: 2rem;
}

.potato-head__title {
  float: left;
  margin-left: 13rem;
  font-family: "Pacifico", cursive;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  transform:rotate(-6deg);
  position: relative;
  top: 1rem;
  z-index: 2;
  text-shadow: -8px 10px 3px rgba(129, 27, 6, 1);
}

@keyframes swing {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.potato-head__logo {
  width: 16rem;
  display: inline-block;
  position: relative;
  top: -5rem; 
  left: 6rem;
  animation-name: swing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.potato-head__sandwich {
  float: right;
  margin-top: 1.5rem;
}

.potato-head__sandwich a {
  text-decoration: none;
  color: #811b06;

}

.potato-head__container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.potato-head__container--photo-blur {
  width: 73.2rem;
  height: 25rem;
  border-radius: 30px;
  opacity: 0.8;
}

.potato-head__container--block-bottom {
  position: relative;
  z-index: 1;
  top: -43rem;
}

.potato-head__container--photo-nonblur {
  display: block;
  margin: 0 auto;
  width: 39rem;
}

.potato-head__top--title {
  position: relative;
  text-align: center; 
  z-index: 2;
  top: -46.5rem;
}

.potato-head__top--title h1 {
  font-size: 7rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-shadow: -8px 10px 3px rgba(129, 27, 6, 1);
  line-height: 6.4rem;
}

.potato-head__bottom {
  text-align: center;
  margin-top: -44rem;
  width: 9rem;
  background: #f8e9ac;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 3px;
  border: 2.5px solid #3f2612;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
} 

.potato-head__bottom p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  color:#811b06;
}


.potato-head__tasty ul {
  margin-top: 3rem;
  text-align: center;
}

.potato-head__tasty li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  margin-right: 1.8rem;
  font-size: 0.96rem;
  color: #811b06;;
} 

.potato-head__tasty--logo {
  width:25rem; 
  position: relative;
  top: 5rem;
  transform: rotate(-15deg);
}

.potato-head__bottom-border--home {
  display: block;
  width: 100%;
  text-align: center;
  
}

.potato-head__bottom-border {
  position: relative;
  top: 2.3rem;
  display: inline-block;
  margin-right: 0.6rem;
}

.potato-head__bottom-border--one {
  background: white;
  width: 15px;
  height: 15px;
}

.potato-head__bottom-border--two {
  background: #EDA634;
  width: 15px;
  height: 15px;
}

#first-ad {
  margin-top: 6rem;
  border-bottom: 3px dotted #EDA634;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
}

.ad-container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.ad-container__rating-one, .ad-container__rating-two {
  text-align: center;
}

.ad-container__rating-one p {
  font-weight: 800;
  font-size: 1rem;
}

.ad-container__rating-two p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
}

.ad-container__photos {
  text-align: center;
  max-width: 100%;
  margin: 2rem auto;
}


.ad-container__photos--ads {
  display: inline-block;
  width: 21rem;
  border: 2px solid #811b06;
  border-radius: 30px;
  margin-right: 1rem;
  -webkit-box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
  -moz-box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
  box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
}

.ad-container__photos--ads img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  width: 90%;
  border-radius: 10px;
}

.ad-container__photos--ads-title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.ad-container__photos--ads-quote {
  color: black;
  font-size: 0.687rem;
  text-align: center;
  font-weight: 700;
}

.ad-container__photos--ads a {
  text-decoration: none;
  color:#811b06;
  width: 100%;
  font-weight: 600;
}

.learnMore {
  font-size: 1.5rem;
}

#menu {
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.menu__intro--billboard {
  width: 28rem;
}

.menu__intro--title {
  margin-top: -6rem;
  font-weight: 700;
  margin-left: 62rem;
  font-size: 0.9rem;
  color:#811b06;
  width: 5.5rem;
  text-transform: uppercase;
  background: #f8e9ac;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2.5px solid #3f2612;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
  box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
}

.menu__row {
  text-align: center;
  margin-top: 2rem;
}

.menu__row img {
  width: 23rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 20px;
}

.menu__row p {
  font-weight: 800;
  text-transform: uppercase;
}

.menu-row--one-itemone, .menu-row--one-itemtwo, .menu-row--one-itemthree, .menu-row--one-item, .menu-row--one-price, .menu-row--two-itemone, .menu-row--two-itemtwo,
 .menu-row--two-itemthree, .menu-row--two-price, .menu-row--two-item {
  display: inline-block;
}

.menu-row--one-itemone .menu-row--one-price {
  margin-left: 10.5rem;
}

.menu-row--one-itemtwo .menu-row--one-price {
  margin-left: 13.3rem;
}

.menu-row--one-itemthree .menu-row--one-price {
  margin-left: 11rem;
}


.menu-row--one-item {
  padding-left: 0.5rem;
}

.menu-row--two-item {
  padding-left: 0.5rem;
}

.menu-row--one-itemone,  .menu-row--one-itemtwo {
  border-bottom: 2px dotted #fbc15d;
  border-right: 2px dotted #fbc15d;
  padding-bottom: 0.3rem;
}

.menu-row--one-itemthree {
  border-bottom: 2px dotted #fbc15d;
  padding-bottom: 0.3rem;
}

.menu-row--two-itemone, .menu-row--two-itemtwo{
  border-bottom: 2px dotted #fbc15d;
  border-right: 2px dotted #fbc15d;
  padding-bottom: 0.3rem;
}


.menu-row--two-itemthree {
  border-bottom: 2px dotted #fbc15d;
  padding-bottom: 0.3rem;
}

.menu-row--two-itemone .menu-row--two-price {
  margin-left: 10.5rem;
}

.menu-row--two-itemtwo .menu-row--two-price {
  margin-left: 11.5rem;
}

.menu-row--two-itemthree .menu-row--two-price {
  margin-left: 11.5rem;
}

.menu__bottom-border--home {
  display: block;
  width: 100%;
  text-align: center;
  
}

.menu__bottom-border {
  position: relative;
  top: 2.3rem;
  display: inline-block;
  margin-right: 0.6rem;
}

.menu__bottom-border--one {
  background: white;
  width: 15px;
  height: 15px;
}

.menu__bottom-border--two {
  background: #EDA634;
  width: 15px;
  height: 15px;
}

#third-ad {
  max-width: 100%;
  margin-top: 1rem;
  background: #EDA634;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
}

.thirdad-container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}


.thirdad-container__rating-two p {
  text-align: center;
  padding-top: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
}

.thirdad-container__photos {
  text-align: center;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

}


.thirdad-container__photos--ads {
  display: inline-block;
  width: 15rem;
  height: 10rem;
  border: 2px solid #811b06;
  border-radius: 30px;
  margin-right: 1rem;
  -webkit-box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
  -moz-box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
  box-shadow: 1px 12px 5px 0px rgba(129,27,6,1);
}


.thirdad-container__photos--ads-title {
  margin-left: -7rem;
  margin-top: 1.5rem;
  color: yellow;
  font-weight: 900;
  text-transform: uppercase;
}

.thirdad-container__photos--ads-quote {
  margin-top: 0.6rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.6rem;
  color: black;
  font-size: 0.687rem;
  text-align: center;
  font-weight: 700;
}


.thirdad-container__photos--review img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: inline-block;
  margin-left: -5rem;
}

.thirdad-container__photos--name {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  top: -1rem;
  margin-left: 0.6rem;
}

.thirdad-container__photos--logo {
  position: relative;
  width: 23rem;
  left: 53rem;
  top: 9rem;
  transform: rotate(15deg)
}

.finalad-container {
  max-width: 75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.finalad-container__rating-one, .finalad-container__rating-two {
  text-align: center;
}

.finalad-container__rating-one {
  margin-top: -0.7rem;
}

.finalad-container__rating-one p {
  font-weight: 800;
  font-size: 1rem;
}

.finalad-container__rating-two p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
}

.finalad__bottom {
  font-weight: 900;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 9rem;
  background: #f8e9ac;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 3px;
  border: 2.5px solid #3f2612;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
box-shadow: 10px 10px 5px 0px rgba(129,27,6,1);
} 

.finalad-container__video--container {
  margin-top: 2.5rem;
  
}

 .finalad-container__video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  border: 5px solid #3f2612;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(129,27,6,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(129,27,6,1);
  box-shadow: 0px 0px 10px 0px rgba(129,27,6,1);
 margin-bottom: 1rem;
  
 
}

@media only screen and (max-width: 1215px) { 
  .potato-head__bottom-border:nth-child(n + 32) {
    display: none;
  }

  .potato-head__bottom-border:nth-child(n + 32) {
    display: none;
  }
  __bottom-border:nth-child(n + 32) {
    display: none;
  }

  .potato-head__title {
    margin-left: 4rem;
  }

  .potato-head__container--photo-nonblur {
    width: 36rem;
  }

  .potato-head__top--title {
    top: -43rem;

  }

  .potato-head__top--title h1 {
    font-size: 5rem;
  }

  .potato-head__logo {
    width: 16rem;
    display: inline-block;
    position: relative;
    top: -5rem; 
    left: 6rem;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  
  .potato-head__container--block-bottom {
    top: -39.7rem;
  }

  .potato-head__tasty li{
    font-size: 0.46rem;

  }

  .potato-head__bottom {
    margin-top: -41.5rem;
  } 

  .potato-head__bottom-border:nth-child(n + 25) {
    display: none;
  } 

  .menu__bottom-border:nth-child(n + 25) {
    display: none;
  } 
  
  .ad-container__photos--ads {
    margin-bottom: 3rem;
  }

  .thirdad-container__photos--ads {
    margin-bottom: 3rem;
  }

  .menu__row {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__intro--billboard  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .menu__intro--title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
    width: 15rem;
    font-size: 1.5rem;
  }
  
.thirdad-container__photos--logo {
  position: relative;
  width: 23rem;
  left: 43rem;
  top: 9rem;
  transform: rotate(15deg)
}

}


@media only screen and (max-width: 1023px) { 
  .potato-head__title {
    margin-left: 4rem;
  }

  .potato-head__container--photo-nonblur {
    width: 36rem;
  }

  .potato-head__top--title {
    top: -43rem;

  }

  .potato-head__top--title h1 {
    font-size: 5rem;
  }

  .potato-head__logo {
    width: 16rem;
    display: inline-block;
    position: relative;
    top: -5rem; 
    left: 6rem;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  
  .potato-head__container--block-bottom {
    top: -39.7rem;
  }

  .potato-head__tasty li{
    font-size: 0.46rem;

  }

  .potato-head__bottom {
    margin-top: -41.5rem;
  } 

  .potato-head__bottom-border:nth-child(n + 25) {
    display: none;
  } 

  .menu__bottom-border:nth-child(n + 25) {
    display: none;
  } 
  
  .ad-container__photos--ads {
    margin-bottom: 3rem;
  }

  .thirdad-container__photos--ads {
    margin-bottom: 3rem;
  }

  .menu__row {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__intro--billboard  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .menu__intro--title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
    width: 15rem;
    font-size: 1.5rem;
  }

  .thirdad-container__photos--logo {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .fa-bars {
    display: none
   }

   .potato-head__logo {
    width: 20rem;
    display: block;
    position:static;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .potato-head__tasty--logo {
    width:9rem; 
    display: block;
    position: static;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-15deg);
  }

   .potato-head__menu {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  .potato-head__menu a {
    font-size: 1rem;
  }

  .potato-head__menu :nth-of-type(3) {
    margin-right: 0;
  }
  
  .potato-head__title {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .potato-head__title {
    text-align: center;
  }

  .potato-head__container {
    margin-top: 2rem;
  }

  .potato-head__container--photo-nonblur {
    width: 17rem;
  }

  .potato-head__container--photo-blur {
    height: 15rem;
  }

  .potato-head__container--block-bottom {
    top: -18.8rem;
  }

  .potato-head__top--title {
    top: -20rem;
  }

  .potato-head__top--title h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .potato-head__bottom {
    margin-top: -18rem;
  } 

  .potato-head__tasty ul {
    margin-top: 2rem;
  }

  .potato-head__bottom-border:nth-child(n + 11) {
    display: none;
  }

  .menu__bottom-border:nth-child(n + 11) {
    display: none;
  }

  .ad-container__photos--ads {
    margin-bottom: 3rem;
  }

  .thirdad-container__photos--ads {
    margin-bottom: 3rem;
  }


  .menu__row {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__intro--billboard  {
    display: block;
    text-align: center;
  }

  .menu__intro--title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
    width: 15rem;
    font-size: 1.5rem;
  }

  .menu-row--one-itemone .menu-row--one-price {
    display: block;
    margin-left: auto;
}

.menu-row--one-itemtwo .menu-row--one-price {
  display: block;
  margin-left: auto;
}

.menu-row--one-itemthree .menu-row--one-price {
  display: block;
  margin-left: auto;
}


.menu-row--two-itemone .menu-row--two-price {
  display: block;
  margin-left: auto;
}

.menu-row--two-itemtwo .menu-row--two-price {
display: block;
margin-left: auto;
}

.menu-row--two-itemthree .menu-row--two-price {
display: block;
margin-left: auto;
}

.thirdad-container__photos--logo {
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}

