/*******************THE CSS RESET ***************************
*                                                           *
************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans", sans-serif;
    color: #3f2612;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* Responsive styling for the header */
  
  /*******************HEADER CSS* ***************************
*                                                           *
************************************************************/

.potato-head {
    background: #EF8683;
    max-width: 100%;
    padding-bottom: 1rem;
}

.potato-head__top {
    width: 100%;
    padding: 1rem;
}

.potato-head__top:after {
        content: "";
        display: table;
        clear: both;  
}

.potato-head__top--menu {
    float: left;
}

.potato-head__top--menu > li {
    display: inline-block;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
}

.potato-head__top--title {
    float: left;
    margin-left: 13rem;
    font-family: "Pacifico", cursive;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    transform:rotate(-6deg);
    position: relative;
    z-index: 1;
    text-shadow: -8px 13px 7px rgba(63, 38, 18, 1);
}

.fa-bars {
    margin-left: 26rem;
}

.potato-head__top--photo {
  height: 37rem;
}


.potato-head__top--photo-blur {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 1150px;
  border-radius: 30px;
}

.potato-head__top--photo-nonblur {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 44rem;
  top: -39rem;
}

.potato-head__top--photo-block {
  margin-top: 9rem;
}

.potato-head__top--photo-block h1 {
  position: relative;
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  width: 80.3rem;
  z-index: 2;
  top: -43rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 5px 16px 5px rgba(63, 38, 18, 1);
  line-height: 6.4rem;
}

.potato-head__top--photo-block p {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  background: #f8e9ac;
  width: 9rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 3px;
  border: 2.5px solid #3f2612;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.89);
-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.89);
box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.89);
}

.potato-head__top--photo-block ul {
  margin-top: 3rem;
  text-align: center;
  
}

.potato-head__top--photo-block li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  margin-right: 2rem;
}



@media (max-width: 1216px) {
  .fa-bars {
    margin-left: 24rem;
}

}

@media (max-width: 992px) {
  .fa-bars {
   margin-left: 110rem
  }
}

@media (max-width: 768px) {
  
}



